git+https://github.com/alcides/GeneticEngine@72e5fc05218a99a78425673fddb400cd81ff31d8#egg=GeneticEngine
pandas
numpy
seaborn
scikit-learn
keras
tensorflow==2.9.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.9.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-metal==0.5; sys_platform == 'darwin' and platform_machine == 'arm64'
configs
polyleven
