https://github.com/alcides/GeneticEngine/archive/6cee8aa60ec2c82f029237934cd6db7d680ad46c.zip
pandas==1.5.1
numpy==1.23.4
seaborn==0.11.2
scikit-learn==1.0.2
# Linux + Windows + Macos x86
keras==2.11.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow==2.11.0; sys_platform != 'darwin' or platform_machine != 'arm64'
# Macos Arm64
keras==2.9.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-macos==2.9.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-metal==0.5; sys_platform == 'darwin' and platform_machine == 'arm64'
polyleven==0.8; platform_python_implementation=="CPython"
pylev==0.8; platform_python_implementation=="PyPy"
